@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&family=Poppins:wght@300;400;500&display=swap&family=Iceland");
:root {
  /*COLORES*/
  --color-background: #000000;
  --color-principal: #c5a47e;
  --color-subtitulos: #eeeeee;
  --color-parrafos: #9f9f9f;
  /*FUENTES*/
  --fuente-jost: "Jost", sans-serif;
  --fuente-poppins: "Poppins", sans-serif;
}
* {
  box-sizing: border-box;
}
html {
  background-color: var(--color-background);
}

h5,
h6,
p {
  font-family: var(--fuente-poppins);
}
span,
h3,
h2 {
  font-family: var(--fuente-jost);
}

a {
  text-decoration: none;
  color: inherit;
  padding: 0px;
  margin: 0px;
  display: inline-block;
}

@keyframes fadeInUp {
  from {
    position: relative;
    top: 10px;
    opacity: 0;
  }
  to {
    position: relative;
    top: 0px;
    opacity: 1;
    color: white;
  }
}
.char {
  animation: fadeInUp 0.3s cubic-bezier(0.3, 0, 0.7, 1) both;
  animation-delay: calc(60ms * var(--char-index));
}
.whitespace {
  width: 10px;
}
